Checks: >
  -clang-analyzer-security.insecureAPI.*,
  readability-identifier-naming,
  misc-unused-parameters,
  clang-diagnostic-unused-variable,
  clang-diagnostic-unused-parameter,
  clang-diagnostic-unused-function,
  clang-diagnostic-unused-but-set-variable

CheckOptions:
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.TypeCase
    value: CamelCase
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.MacroCase
    value: UPPER_CASE
