BasedOnStyle: Google
IndentWidth: 4 
UseTab: Never 
ColumnLimit: 0
BreakBeforeBraces: Attach 
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
IndentCaseLabels: false 
SpaceBeforeParens: ControlStatements
SpacesInConditionalStatement: false 
KeepEmptyLinesAtTheStartOfBlocks: false 

